.flack
  .flack__container.container.container--w610
    .flack__info
      | Для наших новых клиентов мы предлагаем
      = " "
      a.flack__link(href="#") скидку 50%
      = " "
      | на первый день! Приходите, чтобы лично оценить преимущества коворкинга «Воркадиум»!