include ../mixins/copyright
include ../mixins/logo

.footer
  .footer__container.container.container--w1160
    +copyright({
      blockClass: "footer__copyright"
    })
    +logo({
      blockClass: "footer__logo",
      image: true,
      text: false
    })
    +socials({
      list: socials,
      blockClass: "footer__socials"
    })