.flack {
  padding: 30px 0;
  font-size: 18px;
  line-height: 30px;
  color: $text-color-light;
  background-color: $bg-color-dark;
  background-image: url("../images/pattern.png");
}

.flack__link {
  color: $text-color-contrast;
  font-weight: 700;
}